<div>
  <h2>Address Map: {{ addressMap.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Block Type: </td>
        <td>{{ addressMap.blockType }}</td>
      </tr>
      <tr>
        <td>Base Address: </td>
        <td>{{ addressMap.baseAddress }}</td>
      </tr>
      <tr>
        <td>Block Size: </td>
        <td>{{ addressMap.blockSize }}</td>
      </tr>
    </tbody>
  </table>
</div>
