<div>
  <h2>Address Map: {{ addressMap.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Block Type: </td>
        <td>{{ addressMap.blockType }}</td>
      </tr>
      <tr>
        <td>Base Address: </td>
        <td>{{ '0x' + addressMap.baseAddress.toString(16) }}</td>
      </tr>
      <tr>
        <td>Block Size: </td>
        <td>{{ '0x' + addressMap.blockSize.toString(16) }}</td>
      </tr>
    </tbody>
  </table>
</div>
