<div>
  <h2>Field: {{ field.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MSB: </td>
        <td>{{ field.msb }}</td>
      </tr>
      <tr>
        <td>LSB: </td>
        <td>{{ field.lsb }}</td>
      </tr>
      <tr>
        <td>Default Value: </td>
        <td>{{ field.defaultValue }}</td>
      </tr>
      <tr>
        <td>Access: </td>
        <td>{{ field.access }}</td>
      </tr>
      <tr>
        <td>User_visible: </td>
        <td>{{ field.user_visible }}</td>
      </tr>
      <tr>
        <td>Description: </td>
        <td>{{ field.description }}</td>
      </tr>
      <tr>
        <td>Description_chinese: </td>
        <td>{{ field.description_chinese }}</td>
      </tr>
    </tbody>
  </table>
</div>
