<div>
  <form class="example-form">
    <mat-form-field class="input-width">
      <mat-label>Config file: </mat-label>
      <input matInput [(ngModel)]="configFile" name="configFile">
    </mat-form-field>
    <button
      mat-icon-button
      class="button-width"
      (click)="onConfigFileClicked()">
      <mat-icon>folder</mat-icon>
    </button>
    <mat-form-field class="input-width">
      <mat-label>Excel path: </mat-label>
      <input matInput [(ngModel)]="excelPath" name="excelPath">
    </mat-form-field>
    <button
      mat-icon-button
      class="button-width"
      (click)="onExcelPathClicked()">
      <mat-icon>folder</mat-icon>
    </button>
    <mat-form-field class="input-width">
      <mat-label>Output path: </mat-label>
      <input matInput [(ngModel)]="outputPath" name="outputPath">
    </mat-form-field>
    <button
      mat-icon-button
      class="button-width"
      (click)="onOutputPathClicked()">
      <mat-icon>folder</mat-icon>
    </button>
  </form>

  <div class="example-form">
    <mat-checkbox [(ngModel)]="genDoc" name="genDoc" class="checkbox">
      Generate register documents.
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="genC" name="genC" class="checkbox">
      Generate register C header files.
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="genUvm" name="genUvm" class="checkbox">
      Generate register UVM models.
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="genRtl" name="genRtl" class="checkbox">
      Generate register RTL modules.
    </mat-checkbox>
  </div>
  <button mat-raised-button (click)='onGenerateClick()'>Generate</button>
</div>
