<h1 mat-dialog-title>Open files...</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>files</mat-label>
    <mat-select [(value)]="selectedDocId">
      <mat-option
        *ngFor="let doc of registerPrinterDocs"
        [value]="doc.rp_doc_id">
        {{ doc.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedDocId">Open</button>
</mat-dialog-actions>
