<div class="main-window">
  <div class="toolbar">
    <button
      mat-raised-button color="primary"
      (click)="onNewClicked()">
      New project...
    </button>
    <button
      mat-raised-button color="primary"
      (click)="onLoadFromJsonClicked()">
      Load from JSON file...
    </button>
    <button
      mat-raised-button color="primary"
      (click)="onExportToExcelClicked()">
      Export to Excels...
    </button>
    <button
      mat-raised-button color="primary"
      (click)="onExportToJsonClicked()">
      Export to JSON file...
    </button>
    <button
      mat-raised-button color="primary"
      (click)="onGenerateClicked()">
      Generate...
    </button>
  </div>
  <div class='content'>
    <as-split direction="horizontal">
      <as-split-area>
        <app-top-sys-tree-view
          [topSys]="topSys"
          (selected)="onSelect($event)">
        </app-top-sys-tree-view>
      </as-split-area>
      <as-split-area>
        <app-top-sys-content-view
          [topSys]="topSys"
          [selected]="selected">
        </app-top-sys-content-view>
      </as-split-area>
    </as-split>
  </div>
</div>
