.toolbar {
  display: flex;
}
.main-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  height: 100%;
}
app-top-sys-tree-view {
  overflow: scroll;
}
app-top-sys-content-view {
  overflow: scroll;
}
