<div>
  <h2>Top Sys: {{ topSys.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Address Width:</td>
        <td>{{ topSys.addressWidth }}</td>
      </tr>
      <tr>
        <td>Data Width:</td>
        <td>{{ topSys.dataWidth }}</td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>{{ topSys.version }}</td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>{{ topSys.author }}</td>
      </tr>
      <tr>
        <td>Block Types: </td>
        <td>
          <app-block-type-view
            *ngFor="let blockType of topSys.blockTypes"
            [blockType]="blockType">
          </app-block-type-view>
        </td>
    </tbody>
  </table>
</div>
