<div>
  <h2>Top Sys: {{ topSys.name }}</h2>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Address Width:</td>
        <td>{{ topSys.addressWidth }}</td>
      </tr>
      <tr>
        <td>Data Width:</td>
        <td>{{ topSys.dataWidth }}</td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>{{ topSys.version }}</td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>{{ topSys.author }}</td>
      </tr>
    </tbody>
  </table>
  <input [(ngModel)]="topSys.author" placeholder="author" />
  <button (click)="onSubmit()">Submit</button>
</div>
