<div>
  <h2>Top Sys: {{ topSys.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name: </td>
        <td>{{ topSys.name }}</td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>{{ topSys.version }}</td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>
          <app-top-sys-author [(author)]="topSys.author">
          </app-top-sys-author>
        </td>
      </tr>
      <tr>
        <td>Address Width:</td>
        <td>{{ topSys.addressWidth }}</td>
      </tr>
      <tr>
        <td>Data Width:</td>
        <td>{{ topSys.dataWidth }}</td>
      </tr>
      <tr>
        <td>Address Maps: </td>
        <td>
          <app-address-map-view
            *ngFor="let addressMap of topSys.blockInstances"
            [addressMap]="addressMap">
          </app-address-map-view>
        </td>
      </tr>
      <tr>
        <td>Block Types: </td>
        <td>
          <app-block-type-view
            *ngFor="let blockType of topSys.blockTemplates"
            [blockType]="blockType">
          </app-block-type-view>
        </td>
      </tr>
    </tbody>
  </table>
</div>
