<h1 mat-dialog-title>Select an Array...</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Array</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let arrayTemplate of data.arrayTemplates" [value]="arrayTemplate">
        {{ arrayTemplate.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="selected" cdkFocusInitial>Ok</button>
</div>
