
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-group {
  height: 100%
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1
}

app-main-window-view {
  display: block;
  height: 100%;
}
