<div [ngStyle]="{'height': '100%'}">
  <as-split direction="vertical">
    <as-split-area [size]="80">
      <div *ngIf="!isElectronApp">
        <button
          mat-raised-button
          (click)="onOpenClicked()">
          Open...
        </button>
        <button
          mat-raised-button
          (click)="onSaveClicked()">
          Save
        </button>
      </div>
      <mat-tab-group>
        <mat-tab label="Load">
          <div *ngIf="isElectronApp">
            <app-excel-selector>
            </app-excel-selector>
          </div>
        </mat-tab>
        <mat-tab label="Data">
          <app-main-window-view [topSys]="topSys">
          </app-main-window-view>
        </mat-tab>
      </mat-tab-group>
    </as-split-area>
    <as-split-area [size]="20">
      <app-top-sys-console-view>
      </app-top-sys-console-view>
    </as-split-area>
  </as-split>
</div>
<router-outlet></router-outlet>
