<ng-container>
  <span *ngIf="!isEditing" (dblclick)="onDoubleClick($event)">
    {{ value }}
  </span>
  <span *ngIf="isEditing">
    <mat-form-field>
      <mat-label>{{ title }}</mat-label>
      <input matInput placeholder="{{ title }}" [(ngModel)]="editingValue">
    </mat-form-field>
    <button mat-icon-button (click)="onSubmit($event)">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button (click)="onCancel($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
</ng-container>
