<div>
  <h2>Block Template: {{ blockTemplate.blockType }}</h2>
  <table mat-table [dataSource]="blockTemplate.registers" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let register">
        {{ register.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="offset">
      <th mat-header-cell *matHeaderCellDef>Offset</th>
      <td mat-cell *matCellDef="let register">
        {{ '0x' + register.offset.toString(16) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let register">
        {{ register.description }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
