<div>
  <h2>Top Sys: {{ topSys.name }}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name: </td>
        <td>
          <app-edit-box
            title="Name"
            [(value)]="topSys.name">
          </app-edit-box>
        </td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>
          <app-top-sys-version [(version)]="topSys.version">
          </app-top-sys-version>
        </td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>
          <app-top-sys-author [(author)]="topSys.author">
          </app-top-sys-author>
        </td>
      </tr>
      <tr>
        <td>Address Width:</td>
        <td>
          <app-number-edit-box
            title="Address Width"
            [(value)]="topSys.addressWidth">
          </app-number-edit-box>
        </td>
      </tr>
      <tr>
        <td>Data Width:</td>
        <td>
          <app-number-edit-box
            title="Data Width"
            [(value)]="topSys.dataWidth">
          </app-number-edit-box>
        </td>
      </tr>
    </tbody>
  </table>
</div>
