<button
  mat-raised-button color="primary"
  (click)="onAddField()">
  Add Field
</button>
<button
  mat-raised-button color="primary"
  (click)="onDeleteField()">
  Delete Field
</button>
<table mat-table [dataSource]="fields" class="mat-elevation-z2">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let field">
      <app-edit-box [(value)]="field.name"></app-edit-box>
    </td>
  </ng-container>
  <ng-container matColumnDef="msb">
    <th mat-header-cell *matHeaderCellDef>MSB</th>
    <td mat-cell *matCellDef="let field">
      <app-number-edit-box [(value)]="field.msb"></app-number-edit-box>
    </td>
  </ng-container>
  <ng-container matColumnDef="lsb">
    <th mat-header-cell *matHeaderCellDef>LSB</th>
    <td mat-cell *matCellDef="let field">
      <app-number-edit-box [(value)]="field.lsb"></app-number-edit-box>
    </td>
  </ng-container>
  <ng-container matColumnDef="defaultValue">
    <th mat-header-cell *matHeaderCellDef>Default Value</th>
    <td mat-cell *matCellDef="let field">
      <app-hex-edit-box [(value)]="field.defaultValue"></app-hex-edit-box>
    </td>
  </ng-container>
  <ng-container matColumnDef="access">
    <th mat-header-cell *matHeaderCellDef>Access</th>
    <td mat-cell *matCellDef="let field">
      <app-access-selector [(access)]="field.access">
      </app-access-selector>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let field">
      <app-description-edit-box [(value)]="field.description">
      </app-description-edit-box>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name', 'msb','lsb', 'defaultValue', 'access', 'description']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'msb','lsb', 'defaultValue', 'access', 'description'];"></tr>
</table>
