<div>
    <app-top-sys-view
      *ngIf="isTopSys()"
      [topSys]="registerPrinterObject">
    </app-top-sys-view>
  <app-block-instances-view
    *ngIf="isBlockInstances()"
    [topSys]="topSys"
    [blockInstances]="registerPrinterObject">
  </app-block-instances-view>
    <app-block-template-view
      *ngIf="isBlockTemplate()"
      [blockTemplate]="registerPrinterObject">
    </app-block-template-view>
    <app-register-view
      *ngIf="isRegister()"
      [register]="registerPrinterObject">
    </app-register-view>
    <app-field-view
      *ngIf="isField()"
      [field]="registerPrinterObject">
    </app-field-view>
</div>
