<ng-container>
  <span *ngIf="!isEditing" (dblclick)="onDoubleClick($event)">
    {{ '0x' + hexString }}
  </span>
  <span *ngIf="isEditing">
    <mat-form-field>
      <mat-label>hex</mat-label>
      <span>0x<input matInput placeholder="hex" [(ngModel)]="editingValue"></span>
    </mat-form-field>
    <button mat-icon-button (click)="onSubmit($event)">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button (click)="onCancel($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
</ng-container>
